services:
  db:
    image: docker.arvancloud.ir/postgres:16-alpine
    env_file:
      - .env.local
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    env_file:
      - .env.local
    environment:
      POSTGRES_HOST: db
    ports:
      - "4000:4000"
    depends_on:
      - db

volumes:
  postgres_data:
